.createpost{
    background-color:rgb(218, 218, 218) ;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;


    form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        img{
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
        .error{
            color: red;
            font-size: 10px;
        }
    }
}